@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
:root {
  --font-main: 'JetBrains Mono', monospace;
  --border: transparent;
}

:root:not([data-theme]) {
  --font-main: 'JetBrains Mono', monospace;
  --border: transparent;
  
  --bg: black;
  --fg: white;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --bg: white;
    --fg: black;
  }
}

:root[data-theme="light"] {
  --bg: white;
  --fg: black;
}

:root[data-theme="dark"] {
  --bg: black;
  --fg: white;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

h1 {
  font-family: var(--font-main);
}

.navbar {
  font-family: var(--font-main);
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  background-color: var(--fg);
  padding: 5px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  opacity: 0.7;
}

.nav-links a:hover {
  opacity: 1;
}

.nav-links button {
  all: unset;
  cursor: pointer;

  color: blue;
  opacity: 0.6;
  text-decoration: underline;
  font: inherit;
  text-transform: inherit;
}

.nav-links button:hover {
  opacity: 1;
}

